*{
    padding: 0px;
    margin: 0px;
}

#text{
text-align: center;
margin-top: 100px;
}
main{
    text-align: center;
    margin-top: 50px;
}

#email{
    border-radius: 10px;
}

#password{
    border-radius: 10px;
}