*{
    padding: 0px;
    margin: 0px;
}

body{   
    background-position: center;
}

#text{
text-align: center;
margin-top: 100px;
}
main{
    text-align: center;
    margin-top: 50px;
    border: 3px solid black;
    border-radius: 15px;
    width: 500px;
    margin-left: 550px;
    height: 260px;
}


#email{
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 5px;
    height: 25px;
    width: 240px;
    border-color: navy;
}

#password{
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 0px;
    height: 25px;
    width: 230px;
    border-color: navy;
}

#login {    
    border-radius: 15px;
    height: 30px;
    margin-top: 40px;
    width: 320px;
    margin-left: 30px;
    border-color: navy;
}

#em{
    margin-left: 5px;
    margin-top: 20px;
}

#eml{
    margin-left: 5px;
}

#pass{
    margin-top: 30px;
    margin-left: 0px;
    
}
#ep{
    margin-top: 40px;
}