*{
    padding: 0px;
    margin: 0px;
}

body{   
    background-position: center;
}

#text{
text-align: center;
margin-top: 100px;
}
main{
    text-align: center;
    margin-top: 50px;
    border: 3px solid black;
    border-radius: 10px;
    width: 400px;
    margin-left: 550px;
    height: 190px;
}


#email{
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 5px;
    height: 20px;
    width: 240px;
}

#password{
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 0px;
    height: 20px;
    width: 230px;
}

#login {    
    border-radius: 10px;
    height: 25px;
    margin-top: 30px;
    width: 250px;
    background-color: blue;
    margin-left: 20px;
    
}

#em{
    margin-left: 5px;
    margin-top: 20px;
}

#eml{
    margin-left: 5px;
}

#pass{
    margin-top: 20px;
    margin-left: 0px;
}